/*
 * base
 */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
}

/*main*/
.main-content {
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 40px;
}

/*article*/
.post {
  font-family: 'Lora', serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}
