/*
 * side-nav.css
 */

/*
 * base
 */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/*
 * components
 */

/*header*/
.header {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.header__menu-toggle {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  color: #fff;
}


/*sidebar*/
.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.side-nav--visible {
  pointer-events: auto;
}

.side-nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.side-nav__container {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 0 12px rgba(0,0,0,0.5);
  box-shadow: 2px 0 12px rgba(0,0,0,0.5);
  transform: translateX(-102%);
  transition: transform 0.3s cubic-bezier(0,0,0.3,1);
  display: flex;
  flex-direction: column;
}

.side-nav--animatable .side-nav__container {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}
.side-nav--visible.side-nav--animatable .side-nav__container {
  transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible::before {
  opacity: 1;
}

.side-nav--visible .side-nav__container {
  transform: none;
}

.side-nav__hide {
  position: absolute;
  left: 16px;
  top: 16px ;
  background: none;
  border: none;
  color: #fff;
}

.side-nav__header {
  height: 200px;
  background: #330099;
  /*background: #eee;*/
  color: #fff;
  /*color: #333;*/
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 16px;
  -ms-align-items: flex-end;
  align-items: flex-end;
  font-size: 24px
}

.side-nav__content {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  /*scrolling capabilities*/
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.side-nav__content li {
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
}
.side-nav__content li:hover {
  background: #ccc
}
