/*
 * side-nav.css
 */

/*
 * base
 */

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: #fafafa;
}


/*
 * components
 */

/*header*/
.header {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
}

.header__menu-toggle {
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  color: #fff;
}


/*sidebar*/
.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.side-nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
}

.side-nav__container {
  position: relative;
  width: 30%;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 2px 0 12px rgba(0,0,0,0.5);
  box-shadow: 2px 0 12px rgba(0,0,0,0.5);
  /*additional 2% to hide box shadow*/
  transform: translateX(-102%);
}
